.select__component {
    display: inline-flex;
    flex-direction: column;
    label {
        font-size: var(--fs-medium);
        margin-bottom: 0.25rem;
        color: var(--color-primary);
    }
    select {
        border: 1px solid var(--color-border);
        padding: 0.5rem;
        border-radius: 0.25rem;
        font-size: var(--fs-medium);
    }
}