.input__currency-component {
    display: flex;
    align-items: center;
    label {
        font-size: var(--fs-small);
        margin-right: 0.25rem;
    }
    input {
        border: 1px solid var(--color-border);
        padding: 0.5rem;
        border-radius: 0.25rem;
    }
}